body {
    background-color: #1D4221;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button {
    background-color: #64A712;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.passo {
    display: none;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    text-align: center;
}

.passo.ativo {
    display: block;
}

img {
    max-width: 90%;
    border-radius: 10px;
}

.grupo-entrada {
    background-color: #2C3E50;
}

.grupo-atletas {
    background-color: #1E90FF;
}

.grupo-populares {
    background-color: #FF69B4;
}

.grupo-nerds {
    background-color: #FFFFFF;
    color: #000000;
}

.tela-inicial {
    text-align: center;
}

.btn-reiniciar {
    background-color: #FF6347;
    padding: 10px 20px;
    border-radius: 5px;
}
